#container
{ 
	width:700px;
	margin: auto;
}
#wrapper {  
float:left; /* important for inline positioning */  
width:706px; /* important (this width = width of list item(including margin) * items shown */  
overflow: hidden;  /* important (hide the items outside the div) */  
/* non-important styling bellow */  
background: #F0F0F0;  
}  
  
.jqcarousal {  
position:relative;  
left:0px; /* important (this should be negative number of list items width(including margin) */  
list-style-type: none; /* removing the default styling for unordered list items */  
margin: 0px;  
padding: 0px;  
 /* important */  
/* non-important styling bellow */  
padding-bottom:10px;
height: inherit;
display: inline-block;  
}  
  
.jqcarousal li{  
float: left; /* important for inline positioning of the list items */  
width:696px;  /* fixed width, important */  
/* just styling bellow*/  
padding:0px;  
height:350px;  
 
margin-top:10px;  
margin-bottom:10px;  
margin-left:5px;  
margin-right:5px; 
 
}  
  
.jqcarousal li img {  
margin-bottom:-4px; 
cursor:pointer;  
cursor: hand;  
border:0px;  
}  
#prev, #next{  
float:left;  
height:20px;  
width:30px;  
top:-195px;
left:20px;
padding: 5px;
background: #fff;
position: relative;
cursor: pointer;  
cursor: hand; 
} 
#next
{
left:600px;
} 
#prev img, #next img{  
/*styling*/  
cursor: pointer;  
cursor: hand;  
}
.red{
	background:#ff4949;
}
.blue{
	background:#49dfff;	
}
.yellow{
	background:#fff449;	
}
.green{
	background:#d6ff49;	
}
.icon{
	margin-top: 75px;
	margin-left:250px;
}
#pager{
	position: absolute;	
	z-index: 10;
	top:380px;
	margin:auto;

}
#pager a{ margin-left: 20px;
	font-size: large;
	color: #fb7946;
	text-decoration: none;
}
